@media (max-width: 1200px){
   .folder__items {
      flex-direction: column;
   }
   .folder__subtitle, .folder__text {
      text-align: center;
   }
   .folder__img, .folder__link {
      margin: 10px auto;
   }
   .folder__item {
      margin: 30px auto;
   }
}

@media (max-width: 1180px){
   .services__items {
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
   }
}

@media (max-width: 1100px){
   .choice__items {
      grid-template: 1fr 1fr 1fr 1fr / 1fr;
   }
   .choice__item {
      max-width: 70%;
      margin: 25px auto;
   }
   .census__content {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
   }
   .census__line {
      max-width: 90%;
      margin: 15px auto;
   }
   .census__item {
      margin: 30px auto;
   }
}

@media (max-width: 780px){
   .services__items {
      grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
   }
}

@media (max-width: 760px){
   .modal {
      padding: 5%;
   }
   .modal__window {
      padding: 15px;
   }
   .modal__window {
      width: 75%;
   }
   .modal-form-button {
      padding: 0 15px;
   }
   .modal-form-input {
      padding: 5px;
   }
   .modal-form-message {
      padding: 20px 5px 0 5px;
   }
   .modal-form-input, .modal-form-button {
      margin: 15px auto;
      width: 100%;
   }
   .modal-form {
      margin: 0 auto;
      width: 70%;
   }
}

@media (max-width: 740px){
   .nav__we {
      display: none;
   }
}

@media (max-width: 650px){
   .header__title {
      font-size: 36px;
   }
   .header__form {
      flex-direction: column;
   }
   .header__form-input {
      max-width: 85%;
      margin: 20px auto;
   }
   .header__form-btn {
      width: 85%;
      padding: 20px;
      margin: 30px auto;
   }
   .choice__item {
      flex-direction: column;
      align-items: center;
   }
   .choice__words {
      margin-left: 0;
   }
   .choice__icon {
      margin: 15px auto;
   }
   .choice__subtitle, .choice__text {
      text-align: center;
   }
}

@media (max-width: 540px){
   .steps__info {
      max-width: 300px;
   }
   .steps__line {
      height: 650px;
   }
}

@media (max-width: 490px){
   .header__title {
      font-size: 26px;
   }
   .choice__title {
      font-size: 13px;
   }
   .choice__text {
      font-size: 14px;
   }
   .choice__words {
      width: 65%;
   }
}

@media (max-width: 435px){
   .nav__logo-img {
      max-width: 80px;
   }
   .census__line {
      max-width: 250px;
   }
   .request__title {
      font-size: 36px;
   }
   .request__subtitle {
      font-size: 18px;
   }
}

@media (max-width: 400px){
   .services__item, .services__link {
      max-width: 250px;
   }
   .services__link-title {
      font-size: 17px;
   }
}

@media (max-width: 385px){
   .steps__info {
      max-width: 200px;
   }
   .steps__line {
      height: 970px;
   }
   .folder__img {
      width: 300px;
      height: 180px;
   }
}

@media (max-width: 350px){
   .nav__text {
      font-size: 13.4px;
   }
}